<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Esportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item [routerLink]="['/futebol']">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/futebol.jpeg" alt="Campo de futebol" style="border-radius: 50%;">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>Futebol</h2>
        </ion-text>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['/skate']">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/skate.jpeg" alt="Pista de skate" style="border-radius: 50%;">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>Skate</h2>
        </ion-text>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['/vale-conferir']">
      <ion-thumbnail slot="start">
        <img src="../../assets/images/ginasio.jpeg" alt="Ginasio Municipal" style="border-radius: 50%;">
      </ion-thumbnail>
      <ion-label>
        <ion-text color="primary">
          <h2>Vale Conferir</h2>
        </ion-text>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>